@tailwind base;
@tailwind components;
@tailwind utilities;

.customSkeew{

    border-top-right-radius: 5%;
    width:40%;
    /* transform: skew(-10deg, -5deg)
    max;
    height:96vh; */


}


/* Ellipse 111 */
/* .topIcon{

    position: absolute;
    width: 80.15px;
    height: 80.15px;
    left: 61.03px;
    top: 54.32px;
    
    background: #FCFCFF;
} */

.skew-shape {
    transform: skewY(-5deg);
    transform-origin: top left;
  }
  
  .skew-content {
    transform: skewY(5deg);
  }